{% extends "base.html" %}

{% block content %}

    <h1>Edit Article</h1>
    <p>{{ articles.word_count }} word{{ articles.word_count | pluralize }}.</p>
    <p>Last edited on {{ articles.updated_at | date:"jS F Y" }}</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'home' %}">Back to list</a>
    <a href="{% url 'delete_article' articles.id %}">Delete article</a>


{% endblock content %}

{% block page_js %}
<script>
  const contentMarkdown = new EasyMDE({
  element: document.getElementById("id_content"),
  spellChecker: false,
  status: false,
  toolbar: false,
  forceSync: true
  });
</script>
{% endblock page_js %}
