{% extends "base.html" %}

{% block content %}
    <h1>Articles</h1>

    <a href="{% url 'create_article' %}">Create article</a>


    {% if articles %}
        <ul>
            {% for article in articles %}
                <li> <a href="{% url 'update_article' articles.id %}">{{ article.title }}</a> with {{ article.word_count }} word{{ articles.word_count | pluralize }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no articles available.</p>
    {% endif %}
{% endblock content %}
